@model ActivoWebPage.Models.EventDetailsViewModel

@{
    ViewData["Title"] = "Event Details";
    Layout = "~/Views/Shared/_layout_vastervik.cshtml";
}

<div id="page-container">
    <a href="javascript:history.back()" class="back-button" style="font-size: 100px !important; font-weight:bold; display:inline-block !important;">&#8592;</a><br />
    <h2 class="gradient-text">@Model.Event?.Name</h2>
    <div class="gradient-block"></div>

    <div id="container-pop-event">
        <div id="container-pop-event-info">
            <div class="event-image-wrapper">
                @if (Model.Event?.ImageLink?.Length > 0)
                {
                    <img src="@Model.Event.ImageLink[0]" alt="@Model.Event.Name" class="event-image" />
                }
            </div>

            <div id="container-pop-event-content-seperation">
                <div class="seperation-block"></div>
            </div>

            <div class="event-description">
                <p>@Model.Event?.Description</p>
            </div>
        </div>
    </div>

    <div class="event-details" style="padding-right:100px !important; ">
        <div class="event-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1207.1482770585962!2d16.63638791905807!3d57.7686036487119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4658425cb397cae3%3A0x5e0349e58833532!2zTMO2Z2EgVsOkc3RlcnZpaw!5e0!3m2!1ssv!2sse!4v1709819402537!5m2!1ssv!2sse"
                    width="300"
                    height="200"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <p>@Model.Place?.Name</p>
            <p>Adress: @Model.Place?.Address</p>
        </div>

        <div class="event-info">
            <div><i class="bi bi-calendar2-week-fill"></i>@Model.Event?.StartDateTime?.ToString("yyyy-MM-dd HH:mm:ss")</div>
            <div><i class="bi bi-person-fill"></i> Åldergräns: @Model.Event?.AgeLimit År</div>
            <div><i class="bi bi-tag-fill"></i>Price: @Model.Event?.Price kr/pers</div>
            <div><i class="bi bi-info-circle-fill"></i>href="@Model.Event?.URL"</div></br>

            <div class="container-pop-event-infobox-link">
                <p class="pop-event-infobox-link-text" style="font-size: 1rem; text-decoration: none;">
                    <a href="https://informatik7.ei.hv.se/ProfilMVC/SingUps/index/@Model.Event?.EventID">Anmäl dig</a>
                </p>
                <img src="~/images/read-more-icon.png" />
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

