@using System.Data
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_layout_vastervik.cshtml";
    int counter = 0;
}

<div class="content startbody">

    <h2 id="top-titlecard-at-section">
        <span class="gradient-text">SPORT & FRILUFTSLIV</span>
        <div class="gradient-block"></div>
    </h2>

    @foreach (var events in Model.Events.Where(e => e.TagID != null && (e.TagID.Contains(9) || e.TagID.Contains(10) || e.TagID.Contains(17) || e.TagID.Contains(18) || e.TagID.Contains(19) || e.TagID.Contains(21) || e.TagID.Contains(22) || e.TagID.Contains(23) || e.TagID.Contains(29))))
       {
        @if (counter % 2 == 0)
        {
            <div class="page-container">
                <div class="container-pop-event">
                    <div class="container-pop-event-image">
                        <img class="pop-event-image" src="@events.ImageLink" />
                    </div>

                    <div class="container-pop-event-content-seperation">
                        <div class="seperation-block"></div>
                    </div>

                    <div class="container-pop-event-info">
                        <div class="container-pop-event-title-description">
                            <h2 class="pop-event-title-text">@events.Name</h2>
                        </div>

                        <div class="container-pop-event-summary-description">
                            @{
                                string description = events?.Description ?? string.Empty;
                                string[] sentences = description.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
                                string shortDescription = string.Join(".", sentences.Take(2));
                            }

                            <p class="pop-event-summary-text">
                                @shortDescription
                            </p>
                        </div>

                        <div class="container-pop-event-date-area">
                            <div class="container-pop-event-date-icon">
                                <img src="~/images/date-icon.png" />
                            </div>
                            <div class="container-pop-event-date">
                                <p class="pop-event-date-text">@events.StartDateTime?.ToString("MM-dd HH:mm")</p>
                            </div>
                        </div>

                        <div class="container-pop-event-infobox-link">
                            <p class="pop-event-infobox-link-text">
                                <a asp-action="EventDetails" asp-controller="Vastervik" asp-route-eventId="@events?.EventID">Läs mer</a>
                            </p>
                            <img src="~/images/read-more-icon.png" />
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="page-container">
                <div class="container-pop-event-lower">
                    <div class="container-pop-event-info-lower">
                        <div class="container-pop-event-title-description-lower">
                            <h2 class="pop-event-title-text-lower">@events.Name</h2>
                        </div>

                        <div class="container-pop-event-summary-description">
                            @{
                                string description = events?.Description ?? string.Empty;
                                string[] sentences = description.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries);
                                string shortDescription = string.Join(".", sentences.Take(2));
                            }

                            <p class="pop-event-summary-text pop-event-summary-text-bottom">
                                @shortDescription
                            </p>
                        </div>

                        <div class="container-pop-event-date-area-lower">
                            <div class="container-pop-event-date-icon-lower">
                                <img src="~/images/date-icon.png" />
                            </div>
                            <div class="container-pop-event-date-lower">
                                <p class="pop-event-date-text-lower">@events.StartDateTime?.ToString("MM-dd HH:mm")</p>
                            </div>
                        </div>

                        <div class="container-pop-event-infobox-link-lower">
                            <p class="pop-event-infobox-link-text pop-event-infobox-link-text-bottom"><a asp-action="EventDetails" asp-controller="Vastervik" asp-route-eventId="@events?.EventID">Läs mer</a></p>
                            <img src="~/images/read-more-icon.png" />
                        </div>
                    </div>

                    <div class="container-pop-event-content-seperation-lower">
                        <div class="seperation-block-lower"></div>
                    </div>

                    <div class="container-pop-event-image-lower">
                        <img class="pop-event-image-lower" src="@events.ImageLink" />
                    </div>
                </div>
            </div>
        }
    counter++;
}

    @if (Model.RandomAdvertisement != null)
    {
        <div class="container-fluid align-content-center">
            <div class="row justify-content-center align-items-center">
                <div class="col-9" style="height: 100%;">

                    <div class="advertisement-large d-flex justify-content-center align-items-center position-relative">
                        <div class="advert-image-container">
                            <div class="advert-text">
                                <div class="advert-text-inner" style="font-size: 12px; text-decoration: underline;">Annons</div>
                            </div>
                            <a href="@Model.RandomAdvertisement.imageLink">
                                <img src="@Model.RandomAdvertisement.imageSource" alt="Advert" class="img-fluid">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }


    <h2>
        <span class="gradient-text">POPULÄRA  AKTIVITETER</span>
        <div class="gradient-block"></div>
    </h2>
<div class="carousel-dark" id="carousel-dark">
        <div id="activitesCarousel" class="activitesCarousel">
            @for (int i = 0; i < Model.Activities.Count; i++)
            {
                var activity = Model.Activities[i];
                if (activity.categoryID == 6)
                {
                <div class="box">

                    <img class="carousel-image" src=@activity?.imageLink>
                    <h2 class="carousel-title">
                        @activity?.name
                    </h2>
                    <p class="carousel-text">@activity?.description</p>

                    <div class="cardDetails">
                        <a asp-action="ActivityDetails" asp-controller="Vastervik" asp-route-activityId="@activity?.activityID">
                            <div id="container-pop-event-infobox-link">
                                <p class="carousel-link-text">Läs mer</p>
                            </div>
                        </a>
                        <div class="activityDateArea">
                            <div class="container-pop-event-date-icon">
                                <img src="~/images/date-icon.png" />
                            </div>
                            <div class="container-pop-event-date">
                                <p class="carousel-date-text">@activity?.openHours</p>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <div class="scrollbuttons">
            <div>
                <button class="scrollbutton" id="goLeft"> &#8249 </button>
            </div>
            <div>
                <button class="scrollbutton" id="goRight">&#8250 </button>
            </div>
    </div>
    </div>
